{# vi: set ft=jinja: #}

{% import_yaml "systemd-timesyncd/defaults.yaml" as defaults %}
{% import_yaml "systemd-timesyncd/osfamilymap.yaml" as osfamilymap %}

{# merge OS-specific defaults #}
{% set osfamily = salt['grains.filter_by'](osfamilymap, grain='os_family', merge=defaults.systemd-timesyncd) or {} %}
{% do defaults.systemd-timesyncd.update(osfamily) %}

{# merge overrides #}
{% set lookup = salt['pillar.get']('systemd-timesyncd:lookup', default={}, merge=True) %}
{% do defaults.systemd-timesyncd.update(lookup) %}

{# merge all #}
{% set systemd-timesyncd = salt['pillar.get']('systemd-timesyncd', default=defaults['systemd-timesyncd'], merge=true) %}
